#ant specific
2dFightFormer/dist/
2dFightFormer/build/
#netbeans specific
Tower Defence Idea/core
Tower Defence Idea/nbproject/*
!Tower Defence Idea/nbproject/project.properties
!Tower Defence Idea/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear